* {
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0,0,0,0);
}

button {
    color: #FFFFFF;
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    border: none;
    border-radius: 0px; 
    outline-style: none;
}

#lock {
    background-color: rgba(208,62,53,0.80); 
    background-image: image(url("icons/lock.png"));
    border-radius: 0px; 
    margin : 100px 0px 0px 550px;
}

#reboot {
    background-color: rgba(0, 0, 0, 0.80); 
    background-image: image(url("icons/reboot.png"));
    border-radius: 0px; 
    margin : 0px 0px 100px 550px;
}

#logout {
    background-color: rgba(0, 0, 0, 0.80); 
    background-image: image(url("icons/logout.png"));
    border-radius: 0px; 
    margin : 100px 550px 0px 0px;
}

#shutdown {
    background-color: rgba(208,62,53,0.80); 
    background-image: image(url("icons/shutdown.png"));
    border-radius: 0px; 
    margin : 0px 550px 100px 0px;
}

button:hover {
    background-size: 25%;
}

button:hover#lock {
    border-radius: 0px; 
    margin : 80px 0px 0px 530px;
}

button:hover#reboot {
    border-radius: 0px; 
    margin : 0px 0px 80px 530px;
}

button:hover#logout {
    border-radius: 0px; 
    margin : 80px 530px 0px 0px;
}

button:hover#shutdown {
    border-radius: 0px; 
    margin: 0px 530px 80px 0px;
}